{% extends 'base.html' %}
{% load static %}
{% block main %}
{%include 'message.html'%}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Movies</h1>
					<ul class="breadcumb">
						<li class="active"><a href="/">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="topbar-filter fw">
					<p>Found <span>{{ count }} movies</span> in total</p>
				</div>
				<div class="flex-wrap-movielist mv-grid-fw">
					{%if movies%}
					{% for movie in movies %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="{{ movie.Poster }}" alt="" style="height:250px;">
							<div class="hvr-inner">
	            				<a href="#"> {{ movie.Type }} </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="#">{{ movie.Title }}</a></h6>
							</div>
						</div>
					{% endfor %}
					{%else%}
					<h1 style="color:white; padding:50px;">No Data Found</h1>
					{%endif%}
				</div>
				<div class="topbar-filter">
					<div class="pagination2">
						<span>Page {{ current_page }} of {{ total_pages }}:</span>
						{% if current_page > 1 %}
							<a href="#" onclick="submitPage({{ current_page|add:"-1" }})"><i class="ion-arrow-left-b"></i></a>
						{% endif %}
						{% for page_num in pages %}
							<a href="#" class="{% if page_num == current_page %}active{% endif %}" onclick="submitPage({{ page_num }})">{{ page_num }}</a>
						{% endfor %}
						{% if current_page < total_pages %}
							<a href="#" onclick="submitPage({{ current_page|add:1}})"><i class="ion-arrow-right-b"></i></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form id="paginationForm" method="POST" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="query" value="{{ query }}">
    <input type="hidden" name="page" id="pageInput">
</form>

<script>
function submitPage(page) {
    document.getElementById('pageInput').value = page;
    document.getElementById('paginationForm').submit();
}
</script>

{% endblock %}
